@model Wizard.Models.MediParedes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MediParedes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalAlto" class="control-label"></label>
                <input asp-for="TotalAlto" class="form-control" />
                <span asp-validation-for="TotalAlto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAncho" class="control-label"></label>
                <input asp-for="TotalAncho" class="form-control" />
                <span asp-validation-for="TotalAncho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMetroCuadrado" class="control-label"></label>
                <input asp-for="TotalMetroCuadrado" class="form-control" />
                <span asp-validation-for="TotalMetroCuadrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
