@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />

    <h1 class="display-4">Bienvenido</h1>
    <p>@User.Identity.Name</p>

    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/mano.png" alt="..." />
</div>
