@model API.Wizard.Models.ListCal

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar la lista de cálculo?</h3>
<div>
    <h4>ListCal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre de Cálculo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCalculo)
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdClieNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Persona
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPerNavigation.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCalculo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
