@model API.Wizard.Models.MediPared

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MediPared</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMedPared" />
            <div class="form-group">
                <label asp-for="Alto" class="control-label"></label>
                <input asp-for="Alto" class="form-control" />
                <span asp-validation-for="Alto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ancho" class="control-label"></label>
                <input asp-for="Ancho" class="form-control" />
                <span asp-validation-for="Ancho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetroCuadrado" class="control-label"></label>
                <input asp-for="MetroCuadrado" class="form-control" />
                <span asp-validation-for="MetroCuadrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMedParedes" class="control-label"></label>
                <select asp-for="IdMedParedes" class="form-control" asp-items="ViewBag.IdMedParedes"></select>
                <span asp-validation-for="IdMedParedes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
