@model API.Wizard.Models.Canton

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Seguro que desea eliminar el cantón?</h3>
<div>
    <h4>Cantón</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Código Provincia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCanton)
        </dd>
        <dt class="col-sm-2">
            Nombre de Cantón
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodigoProvinciaNavigation.NombreProvincia)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CodigoCanton" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>
